body {
    background-color:white;
    
    
  }
  #cv-form {
    
    background-color: white;
    /* margin-top: 10px; */
    border-style: solid;
  
      
  }
  #cv-template {
    display: none;
    border-style: solid;
    background-color :white;
  }
  .myimg {
    /* border: 1px solid red; */
  
    width: 200px;
    height:200px;
    border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
    
    
    
  }

  .form-control
  {
    border: 1px solid #4FD1C5;
    padding: 5px;
     
  }

  
  
  .background {
    background-color:#CBD5E0;
  }

    .circular--square {
        width: 200px;
        height: 200px;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
      }
    
  
